.Logo {
  width: 300px;
  margin-left: 15px;
  margin-top: 8px;
}

ul {
  list-style-type: none;
}

.LinkDiv li {
  display: inline;
  margin-right: 60px;
}

li a {
  text-decoration: none;
  color: #000;
}

.Links {
  float: right;
  margin-top: 60px;
  margin-right: 300px;
}

.Links ul li {
  color: rgba(255, 255, 255, 0.884);
  margin-bottom: 25px;
}

.LogoDiv {
  display: inline-block;
}

.LinkDiv {
  float: right;
  margin-top: 10px;
}

.BookingButton {
  border: solid 2px gray;
  padding: 5px 20px 5px 20px;
}

.BookingButtonDark {
  border: solid 2px gray;
  padding: 5px 20px 5px 20px;
  color: rgba(255, 255, 255, 0.884);
  margin-left: 10px;
  width: 140px;
}

.Salon {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 5px;
}

.FooterDiv {
  background-color: black;
  height: 350px;
  margin-top: 80px;
}

.FooterLogo {
  width: 350px;
  margin-left: 30px;
}

.FooterLeft {
  display: inline-block;
}

h5 {
  color: rgba(255, 255, 255, 0.884);
  margin-left: 50px;
  margin-bottom: 30px;
}

.item {
  max-height: 21rem;
  min-width: 17.3rem;
  padding: 35px;
}

.item img {
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 2em;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  overflow: hidden;
  margin-bottom: 150px;
}

.ServicesHome {
    text-align: center;
}

.ServicesHome img {
    width: 6em;
    padding: 10px 80px 10px 80px;
    margin-top: 50px;
}

.ServicesHome div {
    display: inline-block;
}

.ServicesHome h1 {
    font-weight: 500;
}
.ServicesHome h2 {
    font-weight: 300;
}

.ServicesHome ul  {
    padding: 0;
    margin-top: 50px;
    
}

.ServicesHome li {
    width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.OurCrew {
    text-align: center;
    margin-top: 200px;
}

.OurCrew h1 {
    font-weight: 500;
}
.OurCrew h2 {
    font-weight: 400;
    margin: 5px;
}
.OurCrew h3 {
    font-weight: 400;
    font-size: medium;
}
.OurCrew div {
    display: inline-block;
    background-color: #9e8401ab;
    margin: 100px 80px 10px 80px;
    width: 18em;
}

.OurCrew img {
    width: 17em;
    margin-top: 8px;
    
}

.OurCrew ul  {
    padding: 0;
    margin-top: 70px;
    
}

.OurCrew li {
    width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ContactUs {
    background-color: white;
    margin-right: 10%;
    margin-left: 10%;
    height: 45em;
    margin-top: 5%;
    text-align: center;
}
.ContactUs img {
    height: 45em;
    float: right;
}
.ContactUsInfo {
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
    display: inline-block;
    width: 40%;
}

.ContactUsInfo h1 {
    font-weight: 700;
    color: #505050;
}

.ContactUsInfo h3 {
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 20px;
}

.ContactUsInfo h4 {
    font-weight: 400;
    margin-top: 10px;
}
.BookingButtonContact {
    width: 150px;
    display: inline-block;
    text-align: center;
    padding: 5px;
    border: 2px solid #505050;
}

.ContactUsInfo ul {
    margin-top: 20px;
    padding: 0;
}
.BookingButtonContact li {
    margin: 0;
    padding: 0;
}

.HairStylistDiv {
  width: 25%;
  height: 400px;
  margin-left: 50px;
  background-color: white;
  display: inline-block;
}

.HairStylistDiv img {
  width: 80px;
  border-radius: 100%;
  margin: 20px;
  display: inline-block;
}

.HairStylistDiv h3 {
  margin: 40px 20px 20px 20px;
  float: right;
}

.HairStylistDiv h4 {
  margin: 10px 10px 10px 20px;
  font-size: 18px;
  font-weight: 700;
}
.HairStylistDiv h6 {
  margin: 10px 20px 10px 20px;
  font-size: 13px;
  font-weight: 400;
}
.AppointmentDiv {
  width: 60%;
  height: 400px;
  margin-left: 100px;
  margin-right: 50px;
  background-color: white;
  float: right;
  text-align: center;
}
.TestInput {
  width: 200px;
  margin: 30px;
}
.SignIn {
  width: 100px;
  height: 20px;
  margin: 30px;
}

@media only screen and (max-width: 600px) {
    .Logo {
        width: 300px;
        margin-left: 0;
      }
      
      .OurCrew div {
        display: inline-block;
        margin-left: 0px;
        background-color: red;
        margin: 100px 80px 10px 80px;
    }
}
